  <h1>Create a New Garden</h1>

  <%= form_with model: @garden, local: true do |form| %>
    <div>
      <%= form.label :name, "Garden Name" %>
      <%= form.text_field :name, required: true %>
    </div>

    <div>
      <%= form.submit "Create Garden" %>
    </div>
  <% end %>

  <p><%= link_to 'Back to Gardens', gardens_path %></p>
