
<h1>Create a New Garden</h1>

<%= simple_form_for @garden do |f| %>
  <%= f.input :name, label: "Garden Name", required: true %>
  <%= f.input :photo, as: :file, label: "Garden Photo", hint: "Upload an image of your garden (optional)" %>
  <%= f.button :submit, "Create Garden", class: "btn-primary" %>
<% end %>

<p><%= link_to 'Back to Gardens', gardens_path %></p>
